---
layout: default
---
{% block content %}
<!-- Page Header -->
<header class="intro-header" style="background-color: #aaa">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1><small>{{ page.taxonomy_attribute }}:</small> {{ page.term }}</h1>
                    <hr class="small">
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
			{{ page.content }}
		</div>
	</div>
</div>

<hr>

{% endblock %}
